.jobPostingFormUpdate{
    flex: 4;
  
}
.updateJobPostingTitle{
    margin-left: 320px;
}
.updateJobPostingForm{
    display: flex;
    flex-wrap: wrap;
}
.updateJobPostingItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
}
.updateJobPostingItem > label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(134, 130, 130);
}
.updateJobPostingItem > input{
  height: 40px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}


.updateJobPostingItem > Select{
    height: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
.form-control{
    height: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
.updateJobPostingWorkingTypes{
    display: flex;
    flex-direction: column;
    
}
.updateJobPostingWorkingTypes > input{
   margin-top: 15px;
    
}
.updateJobPostingWorkingTypes > label{
    margin: 10px;
    font-size: 18px;
    color: #555;
    size: 20px;
 }

 /* The newJobPostingWorkingTypesContainer */
.updateJobPostingWorkingTypesContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .updateJobPostingWorkingTypesContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .updateJobPostingWorkingTypesCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .updateJobPostingWorkingTypesContainer:hover input ~ .updateJobPostingWorkingTypesCheckmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .updateJobPostingWorkingTypesContainer input:checked ~ .updateJobPostingWorkingTypesCheckmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .updateJobPostingWorkingTypesCheckmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .updateJobPostingWorkingTypesContainer input:checked ~ .updateJobPostingWorkingTypesCheckmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .updateJobPostingWorkingTypesContainer .updateJobPostingWorkingTypesCheckmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.updateJobPostingButton{
    margin-top: 20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
   

    

}
.updateJobPostingButton:hover{
    background-color: #3e8e41

}
.updateJobPostingButton:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}
.updateJobPostingButtonItem{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 320px;
}
.jobPostingActive{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 10px;
  margin-left: 20px;
}
.jobPostingActive>label{
  margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(134, 130, 130);

}

 
/* {


    "id": 0,

    "employerId",

    "citieId",
    "jobPositionId",
    "jobDescription": "string",
    "maximumSalary": 0,
    "minimumSalary": 0,
    "numberOfOpenPositions": 0,
    "applicationDeadline": "string",
    "releaseDate": "string"

    "active": true,
  } */