
.updatePage {
    flex: 4;
    padding: 20px;
  }
  

  
  .userUpdateTitle{
      font-size: 24px;
      font-weight: 600;
      margin-left: 80px;
  }
  
  .userUpdateForm{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  
  .userUpdateItem{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
  }
  
  .userUpdateItem>label{
      margin-bottom: 5px;
      font-size: 14px;
  }
  
  .userUpdateInput{
      border: none;
      width: 250px;
      height: 30px;
      border-bottom: 1px solid gray;
  }
  
  .userUpdateRight{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .userUpdateUpload{
      display: flex;
      align-items: center;
  }
  
  .userUpdateImg{
      width: 190px;
      height: 130px;
      border-radius: 20px;
      object-fit: cover;
      margin-right: 40px;
      margin-top: 20px;
  }
  
  .userUpdateIcon{
      cursor: pointer;
  }
  
  .userUpdateButton{
      border: none;
      padding: 5px;
      cursor: pointer;
      background-color: darkblue;
      color: white;
      font-weight: 600;
      border-radius: 12px;
  }

  .userUpdateButton {
    margin-top: 20px;

    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .userUpdateButton:hover {background-color: #3e8e41}
  
  .userUpdateButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .myJobPostingContainer{
    height: 700px;
  }
