.myJobPostings{
    flex: 4;
}
/* .icontd{
    padding-bottom: 1rem !important;
    padding-top: 1.5rem !important;
    padding-left: 1.25rem !important;
    padding-right: .5rem !important;
}
.iconul{
    display: inline-flex !important;
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
}

.iconli{
    margin-right: 1rem !important;
    padding: 8px;
    cursor: pointer;
    align-items: center;
    border-radius: 0px;
    list-style: none;
} */


.jobPostingsList{
    display: flex;
    align-items: center;
}
.iconVisibility{
    margin-right: 15px;
    font-size: 20px !important;
    cursor: pointer;
    color: rgb(199, 199, 187);
}
.iconEdit{
    margin-right: 15px;
    font-size: 20px !important;
    cursor: pointer;
    color: rgb(199, 199, 187);
}
.iconDelete{
    margin-right: 15px;
    font-size: 20px !important;
    cursor: pointer;
    color: rgb(199, 199, 187);
}



.iconVisibility:hover{
    color: rgb(31, 54, 255);
}
.iconEdit:hover{
    color: rgb(19, 255, 30);
}
.iconDelete:hover{
    color: rgb(255, 0, 0);
}

.iconVisibilityOffButton{
    display: inline-block;
    padding: 1px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    /* box-shadow: 0 9px #999; */
}
.iconVisibilityOffButton:hover {background-color: #3e8e41}

.iconVisibilityOffButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}