.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 251);
    top: 50px;
    position: sticky;
    border: 2px solid rgb(235, 234, 234);
}

.ımage{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    cursor: pointer;
    
    /* background-color: rgb(255, 0, 170); */

}
.cardcontent{
    /* background-color: red; */
    text-align: center;
    color: rgb(187, 186, 186);
}

.ımage{
    width: 40px;
    border-radius: 10%;
    object-fit: cover;
    width: 120px;
    height: 120px;
}
.companyUser{

}
.companyName{
    /* background-color: dodgerblue; */
    
}
.companyUserName{
    /* background-color: forestgreen; */
}

.sidebarList{

}
.sidebarWrapper{
padding: 20px;
color: #555;
}
.sidebarMenu{
    margin-bottom: 10px;
}
.sidebarTitle{
    font-size: 13px;
    color: rgb(187, 186, 186);
}
.sidebarList{
    margin-left: -62px;
    margin-right: -23px;
    list-style: none;
}
.profile{
    margin-left: 20px;
    margin-right: 20px;
}
.spanprofile{
   
}
.spanprofilevalue{
    margin-left: 100px;
}

.sidebarListItem{
    padding: 8px;
    cursor: pointer;
    align-items: center;
    border-radius: 0px;
}

.sidebarListItem.active,.sidebarListItem:hover{
    background-color: rgb(228, 228, 250);
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}


